language: c

env:
  - ARDUINO_VERSION=1.6.6 BOARD=arduino:avr:leonardo

before_install:
  - "/sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_1.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :1 -ac -screen 0 1280x1024x16"
  - sleep 3
  - export DISPLAY=:1.0

  - wget http://downloads.arduino.cc/arduino-$ARDUINO_VERSION-linux64.tar.xz
  - tar xf arduino-$ARDUINO_VERSION-linux64.tar.xz
  - sudo mv arduino-$ARDUINO_VERSION /usr/local/share/arduino
  - sudo ln -s /usr/local/share/arduino/arduino /usr/local/bin/arduino

install:
  - arduino --install-library "Bounce2:2.1.0,Time:1.5.0,TimeAlarms:1.4.0"

  - wget https://github.com/maniacbug/StandardCplusplus/archive/af18241.zip -O /tmp/StandardCplusplus.zip
  - unzip /tmp/StandardCplusplus.zip -d /tmp/
  - mv /tmp/StandardCplusplus-* $HOME/Arduino/libraries/StandardCplusplus

script:
  - arduino --verify --board $BOARD .

notifications:
  email:
    on_success: change
    on_failure: change
